.add-option-error {
    color: $off-White;
    font-style: italic;
    padding: 0 $m-Size;
    margin-top: $m-Size;
    text-align: center;
}

// Form content
.form-Content {
    display: flex;
    flex-direction: column;
    padding: $m-Size;
}

.form-Content__input {
    background: $dark-Blue;
    border: none;
    border-bottom: solid 0.3rem darken($dark-Blue, 10%);
    border-radius: $corner-Radius;
    color: $off-White;
    flex-grow: 1;
    margin: 0 0 $s-Size 0;
    padding: $s-Size;
}

@media (min-width: $desktop-BreakPoint) {
    .form-Content {
        flex-direction: row;
        
    }
    .form-Content__input {
        margin-right: $s-Size;
    }
}
