// Big Button
.big-Button {
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    border-radius: $corner-Radius;
    color: #fff;
    font-weight: bold;
    font-size: $l-Size;
    margin-bottom: $m-Size;
    padding: 1rem;
    width: 100%;
}

.big-Button:disabled {
    opacity: 0.5;
}

// Button
.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    border-radius: $corner-Radius;
    color: #fff;
    font-weight: 500;
    padding: $s-Size;
}

.button--link {
    background: none;
    border: none;
    color: $off-White;
    padding: 0;
}

@media (min-width: $desktop-BreakPoint) {
    .big-Button {
        margin-bottom: $xl-Size;
        padding: 2.4rem;
    }
}