//colors
$off-Black: #20222b;
$off-White: #a5afd7;
$dark-Blue: #333745;
$blue: #3c4251;
$light-Blue: #464b5e;
$purple: #8357c5;

//Spacing
$s-Size: 1.2rem;
$m-Size: 1.6rem;
$l-Size: 3.3rem;
$xl-Size: 4.8rem;

// Corner radius
$corner-Radius: 5px;

//Break Point
$desktop-BreakPoint: 45rem;

